h4 {
    margin: 0;
}

.related-searches-box h4 {
    text-transform: capitalize;
    margin-bottom: 10px;
}

.related-searches-box p {
    margin-left: 5px;
    padding: 4px;
}

.related-searches-box {
    padding: 10px 10px;
    width: 100%;
    max-width: 20%;
}

.related-search {
    display: flex;
    flex-direction: row;
    padding: 5px 10px;
    margin-bottom: 10px;

    border-radius: var(--border-radius);
    background-color: var(--background-secondary-theme);

}

.select {
    cursor: pointer;
}

.select:hover {
    background-color: var(--background-tertiary-theme);
}

.selected {
    color: var(--selected-text-color);
    background-color: var(--selected-link-color);
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 941px)
and (-webkit-min-device-pixel-ratio: 2) {
    .related-searches-box {
        width: 100%;
        max-width: 24%;
    }
}
