.result-item {
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.result-item b {
    font-size: larger;
}

.result-item p {
    margin-top: 8px;
}

.result-item a {
    color: var(--hyperlink-color);
}

.result-item a:hover {
    border-bottom: 1px solid var(--hyperlink-color);
}

.result-item a:visited {
    color: var(--hyperlink-clicked);
}
