input[type="search"] {
    width: 100%;
    padding: 4px;
    margin: 5px;
    font-size: 18px;

    background-color: transparent;

    border: none;
    border-radius: 10px;

    -webkit-appearance: none;
}

input[type="search"]:focus {
    outline: none;
}

.input::-webkit-search-decoration {
    -webkit-appearance: none;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid var(--shadow-color);
    border-radius: var(--border-radius);
}

.small {
    width: 20em;
}

.medium {
    width: 35em;
}

.search-bar:hover {
    box-shadow: 0 2px 8px 1px var(--shadow-color);
}

.search-bar:focus-within {
    box-shadow: 0 2px 8px 1px var(--shadow-color);
}

.search-button {
    width: 40px;
    height: 40px;

    padding: 7px;

    border-color: transparent;
    border-radius: calc(var(--border-radius) - 2px);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    /*background-color: #EBEBEB;*/
    background-color: transparent;

    justify-content: center;
    align-content: center;
}


.search-button:hover {
    background-color: var(--button-hover);
}

.search-button:active {
    background-color: #C9C9C9;
}

