.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 5%;
}

.header h2 {
    margin-right: 30px;
}

.content {
    padding: 10px 5%;

}
