.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 5%;
}

.header h2 {
    margin-right: 30px;
}

.page-body {
    padding: 10px 4%;
    display: flex;
    flex-direction: row;
}

.filter-bar {
    padding: 10px 10px;
    width: 100%;
    max-width: 8%;
}

.content {
    display: flex;
    flex-direction: column;
    padding: 10px 2%;
    width: 100%;
    max-width: 65%;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 941px)
and (-webkit-min-device-pixel-ratio: 2) {
    .filter-bar {
        width: 100%;
        max-width: 16%;
    }
}
