.relevance-header {
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 10px;
}

.relevance-category {
    margin-bottom: 20px;
}

.check-item {
    display: flex;
    flex-direction: row;
}

.check-item input {
    margin-right: 5px;
}
