:root {
    --background-theme: #E0DCC7;

    --shadow-color: #BABBAF;

    --hyperlink-color: #022661;
    --hyperlink-clicked: #3B0261;

    /*--button-hover: #E0E0E0;*/
    /*--button-hover: #EBEBEB;*/
    /*--button-hover: #37D4C1;*/
    --button-hover: #37CED4;

    --border-radius: 10px;
}

p {
    margin: 0;
}

.App {
    background-color: var(--background-theme);
    height: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
